<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="kubra" connectionString="Server=.;Database=XStoreDatabase; User Id=sa;Password=987654321; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsAppXStoreDatabase.Properties.Settings.XStoreDatabaseConnectionString"
      connectionString="Data Source=.;Initial Catalog=XStoreDatabase;User ID=sa;Password=987654321"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>